<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>
        {% block title %}
        HW-01 {{ title }}
        {% endblock %}
    </title>
</head>
<body>
<header>
    {% block header %}
    <div class="header__bar">
        <h1 class="header__title">
            HW-01 Shop
        </h1>
    </div>
    <nav>
        <a href="/">
            <div class="link__sheet">
                Main
            </div>
        </a>
        <a href="/clothes/">
            <div class="link__sheet">
                Clothes
            </div>
        </a>
        <a href="/contacts/">
            <div class="link__sheet">
                Contacts
            </div>
        </a>
    </nav>
    {% endblock %}
</header>
<main>
    {% block main %}
    Main content
    {% endblock %}
</main>
<footer>
    {% block footer %}
    <p>&copy; 2023</p>
    <div class="footer__menu">
        <a href="/">
            <div class="footer__link">Main</div>
        </a>
        <a href="/contacts/">
            <div class="footer__link">Contacts</div>
        </a>
    </div>
    {% endblock %}
</footer>
</body>
</html>