{% extends 'basic.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
<div>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nesciunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nesciunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nesciunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nesciunt!</p>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}