/* Global */

* {
    padding: 0;
    margin 0;
    text-decoration: none;
    color: #000;
}

body {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
}

/* Header */

.header__bar {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid black 2px;
}

.header__title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* Content */

main {
    width: 1000px;
    margin: 50px auto 100px auto;
}

.main__content {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.page__title {
    font-weight: 800;
    font-size: 40px;
}

/* Items */

.item__card {
    width: 300px;
    min-height: 400px;

    display: flex;
    border: solid 1px;
    flex-flow: column;
    padding: 5px;
    justify-content: flex-start;
}

.card__img__box{
    margin: 0;
    width: 300px;
    height: 400px;

}

.card__img {
    max-width: 300px;
    display: flex;
}

.item__card__title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.item__card__text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;

}


/* Footer */

footer {
    width: 1200px;
    height: 50px;
    display: flex;

    border-top: solid 2px black;
    justify-content: space-between;
    align-content: center;
}

.footer__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: inline;
    padding: 0;
}

.footer__link {
    display: flex;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: solid black 1px;
    padding: 10px;
}

.footer__link:hover {
    background-color: #ccc;
}
